<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solr-Express - Sample.Ui</title>

    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/bootstrap-theme.css">
    <link rel="stylesheet" href="~/css/app.css">
</head>
<body ng-app="searchApp">
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>
                This is an example to show the potential of SolrExpress framework.
                <br />
                Try search something using the "search input" and filter results using the facets values.
            </p>
        </div>
    </div>
    <div class="container" ng-controller="SearchController as ctrl">
        <div class=" row">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Search..." x-ng-model="ctrl.request.keyWord" x-ng-change="ctrl.query()">
                <div x-ng-repeat="(key,value) in ctrl.result.facets.query">
                    <h5 class="sub-header">{{key}} ({{value}})</h5>
                </div>
                <div x-ng-repeat="facet in ctrl.result.facets.field">
                    <h5 class="sub-header">{{facet.Name}}</h5>
                    <ul class="nav nav-sidebar">
                        <li x-ng-repeat="(key,value) in facet.Data">
                            <a href="#">{{key}} ({{value}})</a>
                        </li>
                    </ul>
                </div>
                <div x-ng-repeat="facet in ctrl.result.facets.range">
                    <h5 class="sub-header">{{facet.Name}}</h5>
                    <ul class="nav nav-sidebar">
                        <li x-ng-repeat="(key,value) in facet.Data">
                            <a href="#">{{key}} ({{value}})</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>{{ctrl.result.statistic.documentCount}}</strong> documents found in <strong>{{ctrl.result.statistic.timeToExecution}}</strong>
                    </div>
                </div>
                <table class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Manufacturer</th>
                            <th>Price</th>
                            <th>Popularity</th>
                            <th>InStock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="document in ctrl.result.documents">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{document.Id}}</td>
                            <td>{{document.Name}}</td>
                            <td>{{document.Manufacturer}}</td>
                            <td>{{document.Price}}</td>
                            <td>{{document.Popularity}}</td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="document.InStock">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer text-center" ng-visible="ctrl.canNavigate()">
                    <nav>
                        <ul class="pagination">
                            <li x-ng-class="{disabled: ctrl.canNavigateToPreviousPage()}">
                                <a href="" x-ng-click="ctrl.navigate(ctrl.request.page-1)" aria-label="Previous">
                                    <span aria-hidden="true">
                                        &laquo;
                                    </span>
                                </a>
                            </li>
                            <li x-ng-repeat="i in ctrl.pageRange()" ng-class="{active: ctrl.request.page==i}">
                                <a href="" x-ng-click="ctrl.navigate(i)">{{i}}</a>
                            </li>
                            <li x-ng-class="{disabled: ctrl.canNavigateToNextPage()}">
                                <a href="" x-ng-click="ctrl.navigate(ctrl.request.page+1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>
                Designed and built with happiness to make the life easier :)
                <br />
                <a href="https://github.com/solr-express/solr-express">GitHub</a>
            </p>
        </div>
    </footer>

    <script src="~/js/angular.js"></script>
    <script src="~/js/app.js"></script>
</body>
</html>
